<h1>Articles</h1>

<%= search_form_for @q do |f| %>

    <%= f.search_field :title_or_body_or_category_name_cont, placeholder: "Search..." %>
    <%= f.submit "Search!" %>

<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :category_name, default_order: :asc) %>
      <th><%= sort_link(@q, :title, "Title", default_order: :asc) %></th>
      <th><%= sort_link(@q, :body, "Article Content", default_order: :desc) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.category.name %></td>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "New Article", new_article_path %>
